/build.xml
/nbproject/build-impl.xml
/nbproject/project.properties
/nbproject/project.xml
/src/
/PracticaWeb-ejb/nbproject/build-impl.xml
/PracticaWeb-ejb/nbproject/project.properties
/PracticaWeb-ejb/nbproject/project.xml
/PracticaWeb-ejb/build.xml
/PracticaWeb-war/build.xml
/PracticaWeb-war/nbproject/build-impl.xml
/PracticaWeb-war/nbproject/project.properties
/PracticaWeb-war/nbproject/project.xml